$breakpoints: (
  tablet: 768px,
  laptop: 1024px,
  desktop: 1496px,
);

@mixin tablet {
  @media (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: map-get($breakpoints, laptop)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
